@charset "UTF-8";
@font-face {
    font-family: "idroid";
    src: url('mod-02/IDroid.otf') format('opentype');
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('mod-02/BebasNeue-Regular.otf') format('opentype');
}


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Condensed&display=swap');
body{
    background-color: #EBE5C5;
    margin: 0px;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top,#194e19, #1ba356);
    padding: 20px;
    margin-top: -24px;   
} 

header > h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 40px;
    color: white;
    text-shadow: 1.5px 1.5px 8px rgba(0, 0, 0, 0.418);
}
header > p{
    font-family: 'BebasNeue-Regular';
    text-align: center;
    color: white;
    margin-top: -11px;
    text-shadow: 1.5px 1.5px 8px rgba(0, 0, 0, 0.418);
}

header > #titulop{
    line-height: 10px;
}
header > nav{
    padding-left: 20px;
}
.link{
    font-weight: bold;
    padding: 7px;
    text-decoration: none;
    color: #84E1AD;
}
:hover.link{
    color: #194e19;
    background-color: #84E1AD;
    border-radius: 5px;
    transition-duration: .5s;
}

.link2{
    font-weight: bolder;
    color: #194e19;
    background-color: #84E1AD;
    text-decoration: none;
}
main a::after{
    content: "\00A0\1F517";
}

:hover.link2{
    color: #1ba356;
    text-decoration: underline;
}
main{
    background-color: white;
    margin:auto;
    padding-left: 15px ;
    padding-right: 15px;
    max-width: 1000px;
    min-width: 200px;
    margin-bottom: 0px;
    padding-bottom: 40px;
    border-radius: 0px 0px 10px 10px;
    padding-top: 3px;
    box-shadow: 0.5px 0.5px 8px 3px rgba(58, 58, 58, 0.39);
}




#historia{
    padding-left: 10px;
    line-height: 30px;
}

#historia > h1{
    color: #194e19;
    font-family: idroid;
    padding-top: 20px;
}

#historia > p{
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif
}

#pversao{
    padding: 10px;
    line-height: 30px;
}
 h2{
    color: #194e19;
    font-family: idroid;
    font-size: 20px;
    background-image: linear-gradient(to left, white,#84E1AD);
}

#pversao > p{
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif
}

#img{
    text-align: center;
}

#img > p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

#video {
    text-align: center;
    background-color: #194e19;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 40px;
    padding-bottom: 62%;
    position: relative;
}
#video > iframe{
    position: absolute;
    max-width:900px ;
    margin:auto;
    right: 6%;
    width: 90%;
    height: 90%;
}

#finished{
    background-color: #84E1AD;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 8px 3px rgba(58, 58, 58, 0.39);
}

#finished > h3{
    background-color: #194e19;
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 5px
}
#finished > ul{
    list-style-type: "\2714\00A0\00A0";
}
abbr{
    text-decoration: none;
}

footer{
    background-color: #194e19;
    color: white;
    margin-top: 30px;
    margin-bottom: -20px;
}

footer > p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    text-align: center;
}